<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page-title.congrats}"></title>
</head>
<body>
<div th:align="center">
    <img th:src="@{/battles/congrats.jpeg}" width="400" height="">
    <br><br>
    <form action="#" th:action="@{/app/battles}" th:object="${player}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="submit" th:value="#{action.try-again}"/>
    </form>
    <br>
    <a th:href="@{/app/battles/create}" th:text="#{action.leave}"/>
    <br><br>
</div>
</body>
</html>